body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

  background: #f8f5ff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f3ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Toastify__toast {
  border-radius: 10px;
  font-size: 14px;
}

.Toastify__toast--success {
  background: #16a34a;
  color: white;
}

.Toastify__toast--error {
  background: #dc2626;
  color: white;
}
.Toastify__toast-container {
  top: 80px !important;  /* pushes toast below navbar */
  z-index: 9999 !important;
}

